.vs/
E-Book_Project.sln
EBookClient/EBookClient.csproj
EBookClient/bin/Debug/
EBookClient/obj/Debug/
EBookClient/packages.config
EBookLIb/obj/Debug/
EBookLIb/packages.config
EBookServer/App.config
EBookServer/EBookServer.csproj
EBookServer/bin/Debug/
EBookServer/obj/Debug/