.vs/
/bin/
/obj/
/out/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
E-Book_Project.sln
EBookClient/EBookClient.csproj
EBookClient/Form1.Designer.cs
EBookClient/bin/Debug/EBookClient.exe
EBookClient/bin/Debug/EBookClient.exe.config
EBookClient/bin/Debug/EBookClient.pdb
EBookClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EBookClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EBookClient/obj/Debug/EBookClient.Properties.Resources.resources
EBookClient/obj/Debug/EBookClient.csproj.AssemblyReference.cache
EBookClient/obj/Debug/EBookClient.csproj.CoreCompileInputs.cache
EBookClient/obj/Debug/EBookClient.csproj.FileListAbsolute.txt
EBookClient/obj/Debug/EBookClient.csproj.GenerateResource.cache
EBookClient/obj/Debug/EBookClient.exe
EBookClient/obj/Debug/EBookClient.pdb
EBookClient/packages.config
EBookLIb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EBookLIb/obj/Debug/EBookLIb.csproj.AssemblyReference.cache
EBookLIb/packages.config
EBookServer/App.config
EBookServer/EBookServer.csproj
EBookServer/Migrations/Configuration.cs
EBookServer/bin/Debug/EBookServer.exe
EBookServer/bin/Debug/EBookServer.exe.config
EBookServer/bin/Debug/EBookServer.pdb
EBookClient/bin/Debug/
EBookClient/obj/Debug/
EBookServer/App.config
EBookServer/bin/Debug/
EBookClient/obj/Debug/
EBookLib01/obj/Debug/
EBookLib01/bin/Debug/
